.join-card-container{

  .join-card__applied-info{
    padding: 5px 16px;
    color: gray;
    border-bottom: 1px solid lightgrey;
    &_job-title{
      color: skyblue;
      cursor: pointer;
    }
  }
  .join-card-content{
    display: flex;
    padding: 16px;
    &__avatar{
      width: 50%;
    }
    &__actions{
      margin-left: auto;
    }
  }
}
.join-card-content__actions{
  button{
    border-radius: 10px;
  }
}
.join-card-content__actions_qualified{
  border-radius: 10px;
  span{
    color: limegreen;
    font-size: 14px;
    margin-left: 5px;
  }
}
.join-card-content__actions_not_qualified{
  border-radius: 10px;
  span{
    color: red;
    font-size: 14px;
    margin-left: 5px;
  }
}
.join-card-content__actions_cancel{
  border-radius: 10px;
}

